@page
@model Kojg_Ragnarock_Guide.Pages.Exhibitions.Etage3Model
@{
}

<div class="udstilling-grid">
    <div class="EtageNummer">
        <h1>Etage 3</h1>
    </div>
    <div class="udstilling">
        <ul class="list-group list-group-flush">
            @foreach (var exhibition in Model.Exhibitions)
            {
                if (exhibition.Floor == "3")
                {
                    <div class="Episode" id="EpisodeID-@exhibition.ExhibitionNumber">
                        <article class="EpisodeIdTitle">
                            <p class="EpisodeId">@exhibition.ExhibitionNumber-</p>
                            <p class="EpisodeTitle">@exhibition.Title</p>
                        </article>
                        <hr class="EpisodeTop-Line">
                        <img class="EpisodePicture" src="/exhibitionPhotos/@exhibition.PhotoFileName" width="50" alt="Du har ikke tilføjet et billede" />
                        <div class="accordion accordion-flush" id="accordionFlush_@exhibition.Id">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@exhibition.Id" aria-expanded="true" aria-controls="flush-collapse-@exhibition.Id">
                                        Beskrivelse af udstilling
                                    </button>
                                </h2>
                                <div id="flush-collapse-@exhibition.Id" class="accordion-collapse collapse" data-bs-parent="#accordionFlush_@exhibition.Id">
                                    <div class="accordion-body" style="color: black"><p class="EpisodeDescription">@exhibition.Description</p></div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger btn-sm PlayButton" onclick="playAudio(this, '@exhibition.Id')">Play</button>
                        <audio id="@exhibition.Id" style="display: none;">
                            <source id="source-@exhibition.Id" src="/exhibitionAudios/@exhibition.AudioFileName" type="audio/mpeg">
                        </audio>
                    </div>
                }
            }
        </ul>
    </div>
    <div class="sticky-container-for-plantegning">
        <div class="plantegning">
            <td><img src="/Plantegninger/Etage3.jpg" height="672" width="474" alt="Plantegning for Rockmuseet" /></td>
            @foreach (var exhibition in Model.Exhibitions)
            {
                @if (exhibition.Floor == "3")
                {
                    <a class="buttonForPlantegning-@exhibition.ExhibitionNumber" href="#EpisodeID-@exhibition.ExhibitionNumber"></a>
                }
            }
        </div>
    </div>
    <div class="audioStuff hide">
        <div class="bottom-player-pic">
            <img id="bottom-player-image" width="57" height="73" src="" alt="">
        </div>
        <div class="bottom-player-title">
            <p id="bottom-player-title"></p>
        </div>
        <audio controls class="bottom-audio">
            <source id="bottom-audio-source" src="" type="audio/mpeg">
        </audio>
    </div>
</div>