@page
@model Kojg_Ragnarock_Guide.Pages.Exhibitions.Etage2Model
@{
}
<div class="container">

    <h1>Etage 2</h1>
    <div class="udstilling-grid">
        <div class="udstilling">
            <ul class="list-group list-group-flush">
                @foreach (var exhibition in Model.Exhibitions)
                {
                    if (exhibition.Floor == "2")
                    {
                        <div class="Episode">
                            <article class="EpisodeIdTitle">
                                <p class="EpisodeId">@exhibition.Id-</p><p class="EpisodeTitle">@exhibition.Title</p>
                            </article>
                            <hr class="EpisodeTop-Line">
                            <img class="EpisodePicture" src="/exhibitionPhotos/@exhibition.PhotoFileName" width="50" alt="Du har ikke tilføjet et billede" />
                            <p class="EpisodeDescription">@exhibition.Description</p>
                            <button type="button" class="btn btn-primary btn-sm" onclick="playAudio(this, '@exhibition.Id')">
                                <span class="glyphicon glyphicon-play"></span> Play
                            </button>
                            <audio id="@exhibition.Id" style="display:none;">
                                <source id="source-@exhibition.Id" src="/exhibitionAudios/@exhibition.AudioFileName" type="audio/mpeg">
                            </audio>
                        </div>
                    }
                }
            </ul>
        </div>
        <div class="udstilling">
            <td><img src="/Plantegninger/Etage2.jpg" width="280" height="400" alt="Du har ikke tilføjet et billed" /></td>
        </div>
        <div class="audioStuff">
            <div class="bottom-player-info">
                <img id="bottom-player-image" width="28" height="40" src="" alt="">
                <p id="bottom-player-title"></p>
            </div>
            <audio controls class="bottom-audio">
                <source id="bottom-audio-source" src="" type="audio/mpeg">
            </audio>
        </div> 
    </div>
</div>